<div class="card shadow-effect mt-5 mb-5 card-custom">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem hjgjggsgfgks</p>
            <form action="" class="d-flex align-items-center  mb-5 mt-4">
                <div class="ms-2 col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                    
                </div>
                <div class="ms-2 col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Your Email Address">
                </div>
                <div class="d-flex flex-row align-items-center flex-wrap  ms-3">
                    <button class="btn btn-info btn-block btn-theme shadow-effect" >SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>