<nav class="navbar navbar-expand-lg fixed-top">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()">
            <span><i class=" fas  fa-solid fa-bars icon-color"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center  " [ngClass]="{ 'show': navbarOpen }"> 
            <button class="navbar-toggler" type="button"  aria-label="Close" (click)="toggleNavbar()">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="navbar-nav" *ngFor="let category of categoryArray">
                <li class="nav-item ml-3"><a class="nav-link" [routerLink]="['/category',category.category, category.id]">{{category.category}}</a></li>
            </ul>
        </div>
    
</nav>
