nav{
    margin-top: 60px;
    height: 50px;
    background-color: var(--header-color);
}

.nav-link:hover{
    color: rebeccapurple;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
      position: fixed;
      top: 56px;
      left: 0;
      z-index: 9999;
      height: calc(100vh - 56px);
      overflow-y: auto;
      background-color: var(--primary-color);
      transition: all 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .navbar-collapse.show {
      transform: translateX(0);
    }
  
    .navbar-nav {
      display: block;
      margin: 0;
      padding: 0;
      border-top: 1px solid var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }
  
    .navbar-nav .nav-item {
      display: block;
      margin: 0;
      border-bottom: 1px solid var(--primary-color);
    }
  
    .navbar-nav .nav-link {
      display: block;
      padding: 0.5rem 1rem;
    }
}

.nav-link:active {
    color: red;
  }
  