<div class="card mt-5 mb-5 pb-5 shadow-effect card-custom">
    <div class="card-body card-body-custom">
        <h4 class="mt-3 mb-3">Comments (10,204)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Deepak</h6>
            <small class="text-danger">LAST UPDATED - MAR 17, 2023</small>
            <div class="mt-3 mb-3">
                ehruiewhu fuiewhufui weiiuwefiuwehuifh iuwefiuwefuiewui iuwfyuiwef uiwe iuwefiuwefuh iuwefiu wfuwefwie yw iuweyfiuw 
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View Reply</a>
            
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Deepak</h6>
            <small class="text-danger">LAST UPDATED - MAR 17, 2023</small>
            <div class="mt-3 mb-3">
                ehruiewhu fuiewhufui weiiuwefiuwehuifh iuwefiuwefuiewui iuwfyuiwef uiwe iuwefiuwefuh iuwefiu wfuwefwie yw iuweyfiuw 
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View Reply</a>
            
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Deepak</h6>
            <small class="text-danger">LAST UPDATED - MAR 17, 2023</small>
            <div class="mt-3 mb-3">
                ehruiewhu fuiewhufui weiiuwefiuwehuifh iuwefiuwefuiewui iuwfyuiwef uiwe iuwefiuwefuh iuwefiu wfuwefwie yw iuweyfiuw 
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View Reply</a>
            
        </div>
    </div>
</div>