<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white"> Our top picks for you!</p>
    </div>
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor="let featuredPost of featuredPostArray">
            <dk-post-card [postData]="featuredPost"></dk-post-card>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2 class="text-white">Latest Posts</h2>
        <p class="text-white">Explore our latest and greatest!</p>
    </div>
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor="let latestPost of latestPostArray">
            <dk-post-card [postData]="latestPost"></dk-post-card>
        </div>
    </div>
</section>