<div class="container">
    <div class="row">
        <div class="col-md-9 mt-4">
            <div class="card shadow-effect card-custom-post">
                <img src="{{singlePostData.postImgPath}}" alt="single-post-image" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-dark text-danger text-center"> {{singlePostData.category.category}}</small>
                    <small class="bg-dark text-success text-center ms-3"  *ngIf="singlePostData.isFeatured"> Featured</small>
                    <small class="bg-dark text-info text-center ms-3"> Views - {{singlePostData.views}}</small>
                    <small class="bg-dark text-warning text-center ms-3"> LAST UPDATED - {{singlePostData.createdAt}}</small>
                    <h1 class="mt-3 mb-3">{{singlePostData.title}}</h1>
                    <p [innerHTML] = "singlePostData.content"></p>
                    
                </div>
            </div>
            <dk-comment-form></dk-comment-form>
            <dk-comment-list></dk-comment-list>
        </div>
        <div class="col-md-3 mt-4">
            <div class="mb-3" *ngFor="let similarPost of similarPostAray">
                <dk-post-card [postData]="similarPost"></dk-post-card>
            </div>
            
        </div>
    </div>
</div>