<div class="container">
    <div class="row">
        <div class="col-md-9 mt-4">
            <div class="card shadow-effect card-custom-post">
                <img src="{{singlePostData.postImgPath}}" alt="single-post-image" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-dark text-danger text-center"> {{singlePostData.category.category}}</small>
                    <small class="bg-dark text-success text-center ms-3"  *ngIf="singlePostData.isFeatured"> Featured</small>
                    <small class="bg-dark text-info text-center ms-3"> Views - {{singlePostData.views}}</small>
                    <small class="bg-dark text-warning text-center ms-3"> LAST UPDATED - {{singlePostData.createdAt}}</small>
                    <h1 class="mt-3 mb-3">{{singlePostData.title}}</h1>
                    <p [innerHTML] = "singlePostData.content"></p>
                    
                </div>
            </div>
            <dk-comment-form [postIdData] = "postId" ></dk-comment-form>
            <div>
                <div class="card mt-5 mb-5 pb-5 shadow-effect card-custom">
                    <div class="card-body card-body-custom">
                        <h4 class="mt-3 mb-3">Comments ({{commentsArray.length}})</h4>
                        <div  *ngFor="let comment of commentsArray">
                            <dk-comment-list [commentData] = "comment"></dk-comment-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="mb-3" *ngFor="let similarPost of similarPostAray">
                <dk-post-card [postData]="similarPost"></dk-post-card>
            </div>
            
        </div>
    </div>
</div>